anyio==4.4.0
asgiref==3.8.1
astrapy==1.4.1
async-timeout==4.0.3
cassandra-driver==3.29.1
cassio==0.1.8
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
deprecation==2.1.0
Django==4.1.13
django-redis==5.4.0
django_neomodel==0.2.0
djongo==1.3.6
dnspython==2.6.1
exceptiongroup==1.2.2
Faker==27.0.0
geomet==0.2.1.post1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.1
idna==3.7
neo4j==5.19.0
neomodel==5.3.2
numpy==2.1.0
packaging==24.1
pymongo==4.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.8
requests==2.32.3
six==1.16.0
sniffio==1.3.1
sqlparse==0.2.4
toml==0.10.2
typing_extensions==4.12.2
urllib3==2.2.2
uuid6==2024.1.12
